@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
body{
    font-family: 'Poppins';
    color: white;
    background-color: rgba(28, 163, 242, 0.804);
    font-weight: bold;
}
@media (max-width: 600px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
        .welcome{
            font-size: 1rem;
        }
    }        
    .search--bar{
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
        font-size: 2rem;
        align-items: center;
        .search{
            border-radius: 30px;
            font-size: 2rem;
            border: solid 3px blue;
            padding-left: 1rem;
        }
        .search__button{
            border: solid 3px blue;
            background-color: lightgreen;
            font-size: 2rem;
            border-radius: 30px;
            color: blue;
        }
        .search__button:hover{
            border: solid 3px green;
            background-color: white;
            color: green;
        }

    }
    .current--weather{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-size: 2rem;
        .icon{
            height: 14rem;
            width: 15rem;
            border: solid .5px blue;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50px;
            margin-top: 1rem;
            margin-bottom: 1rem;
            background-color: rgba(28, 163, 230, 0.804);

        }
        .weather{
            font-style: italic;
        }
        .weather:first-letter {
            text-transform: uppercase;
        }
        .temperature{
            .degree{
                font-style: 'Poppins';
            }
        }
    }
    footer{
        color: black;
        font-size: .5rem;
        background-color: rgb(15, 144, 242);
        text-align: center;
        padding: 1rem;
        .go--container{
            color: #ED1D24;
        }
    } 
}
